[Unit]
Description=Argos
Wants=network-online.target
After=network-online.target
[Service]
Environment=DVR_MINIO_ACCESS_KEY=#access_key#
Environment=DVR_MINIO_SECRET=#secret_key#
Environment=DVR_MINIO_ENDPOINT=#minio_endpoint#
Environment=DVR_USE_RAFT="true"
Environment=DVR_SERVER_ID=#server_id#
Environment=IMMU_EXEC=/data/immudb/immudb
Environment=DVR_DATA_DIR=/data/argos/raft-storage/
Environment=DVR_RAFT_PORT=7000
Environment=DVR_PEER_ADDRESS=#peer_address#
Environment=DVR_JOIN_SECRET=#join_secret#
Environment=DVR_JOIN_ADDRESS=#join_address#
Environment=DVR_API_PORT=#api_port#
Environment=DVR_LEADER_API_PORT=#leader_api_port#
Environment=DVR_NET_INTERFACE=#net_interface#
Environment=GROUP_ID=#group_id#
ExecStart=/data/argos/dvr
Restart=always
StartLimitBurst=0
[Install]
WantedBy=multi-user.target
