[Unit]
Description=ArgosLookup
Wants=network-online.target
After=network-online.target
[Service]
Environment=HOSTNAMES='#hostnames_json#'
ExecStart=/data/argos/service_lookup.py
[Install]
WantedBy=multi-user.target
