[Unit]
Description=MinioLookup
[Service]
Environment=HOSTNAMES='#hostnames_json#'
ExecStart=/data/minio/minio_lookup.py
Restart=on-failure
StartLimitBurst=0
[Install]
WantedBy=multi-user.target
