[Unit]
Description=Minio
[Service]
Environment=MINIO_ROOT_USER=access_key
Environment=MINIO_ROOT_PASSWORD=secret_key
ExecStart=/usr/bin/minio server  http://minio-server-{1...2}/data/
Restart=always
[Install]
WantedBy=multi-user.target
