[Unit]
Description=MinioLookup
[Service]
ExecStart=/usr/bin/service_lookup.py /usr/bin/minio_lookup_hostnames.json
Restart=always
[Install]
WantedBy=multi-user.target
