[Unit]
Description=MinioLookup
[Service]
Environment=HOSTNAMES='#hostnames_json#'
ExecStart=/usr/bin/service_lookup.py
Restart=always
[Install]
WantedBy=multi-user.target
