[Unit]
Description=GunDetection
[Service]
WorkingDirectory=/data/threat_detection                       
Environment=MODEL=#model#
ExecStart=/data/threat_detection/.venv/bin/python -u /data/threat_detection/main.py
Restart=always
StartLimitBurst=0
MemoryLimit=12G
TimeoutSec=5
[Install]
WantedBy=multi-user.target
