[Unit]
Description=GunDetection
[Service]
WorkingDirectory=/data/threat_detection                       
Environment=MODEL=yolov5n_rknn_11-29-23.rknn
ExecStart=/data/threat_detection/.venv/bin/python -u /data/threat_detection/main.py
Restart=always
StartLimitBurst=0
MemoryLimit=2G
TimeoutSec=5
[Install]
WantedBy=multi-user.target
